{% extends 'partials/base.html' %}

{% block content %}
<header class="admin-header">
    <div class="container py-1">
        <h1 class="mb-2">Admin Dashboard</h1>
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Admins</h5>
                      <hr>
                      <h1>
                        <a href="#" class="link-header">5</a>
                      </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">SalesReps</h5>
                      <hr>
                      <h1>
                        <a href="#" class="link-header">3</a>
                      </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Products</h5>
                      <hr>
                      <h1>
                        <a href="#" class="link-header">5</a>
                      </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Orders</h5>
                      <hr>
                      <h1>
                        <a href="#" class="link-header">10</a>
                      </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}